*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 0 10px;
  padding: 0;
  background-color: #f4f4f4;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #acacac;
}

#random-colors {
  cursor: pointer;
  vertical-align: sub;
  margin: 0;
  height: 20px;
  width: 20px;
}

.container-wrapper {
  height: 300px;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
}

.cell {
  outline: 1px solid black;
  background-color: white;
  position: relative;
}

.actions {
  margin-bottom: 10px;
}
