*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

button {
  border: 1px solid #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #acacac;
  transition: background-color 0.3s, border 0.3s;

  &:hover {
    border: 1px solid #000000;
    background-color: #ffffff;
    cursor: pointer;
  }
}

fieldset {
  border: none;
}

#random-colors {
  cursor: pointer;
  vertical-align: sub;
  margin: 0;
  height: 20px;
  width: 20px;
}

.container {
  outline: 1px solid grey;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  max-width: 960px;
}

.cell {
  border: 1px solid grey;
}

.actions {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px auto;
}

@media print {
  @page {
    size: A4 portrait;
    margin: 0;
  }

  header{
      display: none;
  }

  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .cell {
    border: none;
  }

  .no-print {
    visibility: hidden;
  }

  .container {
    outline: none;
  }
}
